locale: pl_PL.UTF-8

name: app
user: vagrant
group: vagrant
domain: app.loc
server_root: /vagrant/public_html

zsh_theme: robbyrussell

tools:
    - unzip
    - mc
    - vim
    - htop

deps:
    - git
    - curl

php:
    version: 7.1
    modules:
        - json
        - xml
        - mbstring
        - intl
        - opcache
        - curl
        - zip
        - mongodb
        - xdebug
        - dom
        - bcmath

mysql:
    name: mysql_db_name
    user: mysql_user_name
    password: mysql_user_password

postgres:
    name: pgsql_db_name
    user: pgsql_user_name
    password: pgsql_user_password

nodejs:
    version: 8
    global_packages:
        - yarn

redis_servers:
    - port: 6379
      databases: 1
    - port: 6380
      databases: 1

php_daemons:
    - name: downloads
      max_children: 5
      idle_timeout: 10s
    - name: parsers
      max_children: 5
      idle_timeout: 10s
